<div *ngIf="User">
    <h2>{{User.firstName | uppercase}} Details</h2>
    <div><span>id: </span>{{User.id}}</div>
    <div>
      <label for="user-title">Title: </label>
      <input id="user-title" [(ngModel)]="User.title" placeholder="name">
      <label for="user-name">User Name: </label>
      <input id="user-name" [(ngModel)]="User.firstName" placeholder="name">
      <label for="user-last">User Name: </label>
      <input id="user-last" [(ngModel)]="User.lastName" placeholder="name">
      
      <button type="button" (click)="save()">save</button>
    </div>

    
</div>


